
body {
    padding-top: 10%;
    background-color: #75715e;

}

.katex {
    font-family: inherit;
}

.App {
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid;
    background-color: #332E2B;
}


.Stack {
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    height: 30vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: papayawhip;
}

.Expression {
    /*border-bottom: 1px solid;*/
}

hr {
    width: 80%;

}

.Input {
    border-radius: 4px;
    min-height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    /*border: 1px solid;*/
    line-height: 30px;
    background-color: white;
}

.Buttons {
}

.Button {
    border-radius: 4px;
    /*border: 1px solid;*/
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    background-color: #92887F;
    color: white;
}
