
body {
    padding-top: 10%;
}

.App {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid;
}

.Input {
    min-height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid;

    line-height: 30px;

}

.Expression {
    border-bottom: 1px solid;
}

.Stack {
    height: 30vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.Buttons {
}


.Button {
    border-radius: 8px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 60px;
    text-align: center;
    text-decoration: none;
}
