
body {
    padding-top: 10%;
}

.App {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid;

}

.Input {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid;
}

.Expression {
    border-bottom: 1px solid;
}

.Stack {
    height: 30vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.Button {
    border-radius: 8px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}
